.btn-site
  font-family: $font-default
  font-weight: 900
  color: $preto
  border: 1px solid $preto
  padding: 8px 16px
  display: inline-flex
  align-items: center
  justify-content: center
  +border-radius(100px)
  text-transform: uppercase
  +default_transition()
  svg
    width: 32px
    height: 32px
    fill: $preto
    margin-left: 8px
  &:hover, 
  &:focus
    border-color: $azul
    color: $branco
    background-color: $azul
    text-decoration: none
    border-color: $azul
    svg
      fill: $branco
  &.white-button
    background-color: rgba($preto, 0)
    color: $branco
    border-color: $branco
    svg
      fill: $branco
    &:hover,
    &:focus
      background-color: $branco
      color: $preto
      svg
        fill: $preto
  &.btn-header
    +font-size(14px)
    +breakpoint(sm)
      +font-size(18px)
  &.big-button
    background-color: $branco
    font-weight: 900 !important
    border-color: $branco
    color: $azul !important
    display: block
    max-width: 500px
    padding-top: 14px
    padding-bottom: 14px
    text-align: center
    +font-size(18px)
    line-height: 22px
    +breakpoint(md)
      +font-size(24px)
      line-height: 28px
  &.blue-button
    background-color: $azul
    color: $branco
    border-color: $azul
    &:hover
      +filter(brightness(0.9))
  &.btn-full
    display: block
    width: 100%
    text-align: center