.btn-site
  font-family: $font-default
  font-weight: 900
  color: $preto
  border: 1px solid $preto
  padding: 8px 25px
  display: inline-block
  +border-radius(100px)
  text-transform: uppercase
  +default_transition()
  &:hover, 
  &:focus
    border-color: $azul
    color: $branco
    background-color: $azul
    text-decoration: none
    border-color: $azul
  &.white-button
    background-color: rgba($preto, 0)
    color: $branco
    border-color: $branco
    &:hover,
    &:focus
      background-color: $branco
      color: $preto
  &.btn-header
    +font-size(14px)
    +breakpoint(sm)
      +font-size(20px)
