.section-lateral-paddings
  padding-left: 0
  padding-right: 0
  +breakpoint(md)
    padding-left: 20px
    padding-right: 20px
  +breakpoint(1440px)
    padding-right: 35px
    padding-left: 35px
  +breakpoint(1550px)
    padding-right: 105px
    padding-left: 105px
  +breakpoint(1780px)
    padding-right: 215px
    padding-left: 215px
section.site-sections
  background-color: $branco
  padding-top: 45px 
  padding-bottom: 45px 
  +breakpoint(sm)
    padding-top: 85px 
    padding-bottom: 85px 
  .section-title
    position: relative
    margin-bottom: 15px
    padding-top: 30px
    &:before,
    &:after
      content: ''
      width: 12px
      height: 12px
      +border-radius(10px)
      background-color: $azul
      margin-bottom: 10px
      position: absolute
    &:before
      top: -20px
    &:after
      top: 0px
    &.align-center
      &:before,
      &:after
        left: 0
        right: 0
        margin: auto
      &:before
        top: 0
        left: -24px
      &:after
        right: -18px

    h2
      text-transform: uppercase
      font-weight: 700
      +font-size(18px)
      +breakpoint(sm)
        +font-size(24px)
      +breakpoint(lg)
        +font-size(32px)
      span
        color: $azul
        font-weight: 900
        +font-size(42px)
        +breakpoint(md)
          +font-size(68px)
        +breakpoint(lg)
          +font-size(83px)
  .section-description
    max-width: 300px
    margin: 0 auto
    line-height: 22px
    margin-bottom: 30px
    +breakpoint(sm)
      margin-bottom: 60px
      max-width: initial
    p
      color: $preto
      font-weight: 500
      +font-size(18px)
      +breakpoint(sm)
        +font-size(24px)

.editor-content
  p
    margin-bottom: 35px
    +font-size(18px)
    line-height: 26px
    color: $preto
    &.medium
      font-weight: 500

.test-table
  margin-bottom: 2rem
  display: flex
  flex-wrap: nowrap
  overflow-x: auto
  padding-bottom: 1rem
  +breakpoint(sm)
    overflow-x: hidden
    display: block
  ul
    align-items: center
    min-width: 240px
    height: 100%
    display: block !important
    margin-left: 0 !important
    margin-right: 15px !important
    min-height: 240px
    background-color: $branco
    border-radius: 8px
    overflow: hidden
    position: relative
    +breakpoint(sm)
      border-radius: 0
      overflow: initial
      min-height: initial
      margin-left: -15px !important
      margin-right: -15px !important
      display: flex !important
      height: auto
      border-bottom: 1px solid $azul
      background-color: rgba($preto, 0)
      min-width: initial
    li
      font-weight: 500
      padding-bottom: 3px
      padding-top: 3px
      line-height: 20px
      +font-size(14px)
      +breakpoint(sm)
        line-height: 24px
        +font-size(16px)
        padding-bottom: 25px
        padding-top: 25px
      &:first-child
        font-weight: 700
        color: $branco
        background-color: $azul
        display: flex
        align-items: center
        justify-content: center
        padding-top: 10px
        padding-bottom: 10px
        height: 65px
        margin-bottom: 15px
        text-align: center
        +font-size(14px)
        line-height: 18px
        +breakpoint(sm)
          line-height: 24px
          text-align: left
          margin-bottom: 0
          height: auto
          font-weight: 900
          display: block
          color: $azul
          background-color: rgba($preto, 0)
          line-height: 22px
          +font-size(18px)
          padding-bottom: 25px
          padding-top: 25px
      &:last-child
        padding-bottom: 20px
        position: absolute
        bottom: 0
        +breakpoint(sm)
          position: relative
          padding-bottom: 25px
      &:nth-child(3)
        &:before
          content: 'Prazo: '
          font-weight: 700
          +breakpoint(sm)
            content: initial
    &.first-table
      border-bottom: initial
      display: none !important
      +breakpoint(sm)
        display: flex !important
      li
        padding-bottom: 10px
        text-transform: uppercase
        color: $preto
        font-weight: 500
        +font-size(20px)
        &:before
          content: initial

.featured-text
  p
    color: $azul
    font-weight: 700
    line-height: 30px
    +font-size(24px)
    +breakpoint(sm)
      line-height: 32px
      +font-size(26px)

.list-site
  ul
    li
      color: $preto
      line-height: 22px
      font-weight: 700
      margin-bottom: 10px
      +padding-start(24px)
      position: relative
      +font-size(14px)
      +breakpoint(sm)
        +font-size(16px)
      &:before
        content: ''
        width: 8px
        height: 8px
        background-color: $azul
        left: 0px
        position: absolute
        top: 5px
        +border-radius(100px)